.base-alert {
  max-width: 600px;
  position: fixed;
  top: 80px;
  right: 20px;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  z-index: 1000;
  opacity: 0;
  animation: alert-box 5s forwards;
}

.notice {
  color: #18603a;
  background-color: #d5f1de;
  border-color: #c4ebd1;
}

.info {
  color: #1b508f;
  background-color: #d6ebff;
  border-color: #c6e2ff;
}

.error {
  color: #772b35;
  background-color: #fadddd;
  border-color: #f8cfcf;
}

.alert {
  color: #772b35;
  background-color: #fadddd;
  border-color: #f8cfcf;
}

.warning {
  color: #815c15;
  background-color: #feefd0;
  border-color: #fde9bd;
}

@keyframes alert-box {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
